<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>J-U-I-C-E</title>
  <link rel="icon" type="image/x-icon" href="/static/IMAGES/logo.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="p-3 b" style="background-color: white">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <img src="/static/IMAGES/logo.png" alt="" class="logo me-2" />

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 gap-5 philomene">
          <li>
            <a href="#" class="nav-link px-2 underline" style="color: #e80889">Home</a>
          </li>
          <li>
            <a href="#" class="nav-link px-2 underline" style="color: #e80889">Features</a>
          </li>
          <li>
            <a href="#" class="nav-link px-2 underline" style="color: #e80889">Pricing</a>
          </li>
          <li>
            <a href="#" class="nav-link px-2 underline" style="color: #e80889">FAQs</a>
          </li>
          <li>
            <a href="#" class="nav-link px-2 underline" style="color: #e80889">About</a>
          </li>
        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 philomene" role="search">
          <input type="search" class="form-control form-control-dark text-bg-white" placeholder="Search..."
            aria-label="Search" />
        </form>
        <div class="text-end">
          <button type="button" class="btn btn-outline-dark me-2 philomene" id="l"
            style="color: black; background-color: white">
            Login
          </button>
          <button type="button" class="btn btn-outline-dark me-2 philomene" id="s"
            style="color: black; background-color: #e80889">
            Sign-up
          </button>
        </div>
      </div>
    </div>
  </header>

  <section class="hero" style="background-color: #fce1f0;">
    <div class="container col-xxl-8 px-4">
      <div class="row flex-lg-row-reverse align-items-center g-5">
        <div class="col-10 col-sm-8 col-lg-6 shape-wrapper">
          <img src="/static/IMAGES/body1.jpg" alt="" class="shape img-fluid">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 lh-1 mb-3 text-start m-headings">
            BEST JUICE IN YOUR AREA
          </h1>
          <p class="lead paragraph">
            Looking for a healthy and delicious drink nearby? We serve the best juices in town, made with locally
            sourced fruits and crafted to perfection for every taste.
          </p>
        </div>
      </div>
    </div>
    </div>
  </section>

  <section style="background-color: #fce1f0;">
    <div class="container marketing">
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1 headings">
            SPECIALLY FOR KIDS</h2>
          <p class="lead paragraph">Favourite flavours of kids are here, healthy and tasty.</p>
        </div>
        <div class="col-md-5">
          <img src="/static/IMAGES/kid.jpg" alt="" class="img-fluid image">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1 headings">NO USE OF CHEMICAL</h2>
          <p class="lead paragraph">Made from 100% original fruits, no artificial flavours or chemicals are used in
            making our products.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="/static/IMAGES/no-chemicals.jpg" class="img-fluid image">
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1 headings">HEALTHY JUICE-HEALTHY FAMILY</h2>
          <p class="lead paragraph">Start your day in a healthy way, for your blood, for your growth, for your health.
          </p>
        </div>
        <div class="col-md-5">
          <img src="/static/IMAGES/affordable.jpg" alt="" class="img-fluid image">
        </div>
      </div>
      <hr class="featurette-divider"> <!-- /END THE FEATURETTES -->
    </div>
  </section>

  <section>
    <div class="container col-xxl-8 px-4">
      <div class="row align-items-center g-5">

        <!-- Left column (logo) -->
        <div class="col-lg-8">
          <img src="/static/IMAGES/s-logo.png" alt="Logo" class="img-fluid" style="height: 500px; width: 500px;">
        </div>

        <!-- Right column (heading, paragraph, forms) -->
        <div class="col-lg-4 text-start">
          <h3 class="mb-3 ss" style="color: yellow;">SUBSCRIBE TO OUR</h3>
          <h3 class="mb-3 ss" style="color: yellow;">NEWSLETTER</h3>

          <ul class="mb-3 paragraph">
            <li class="mb-2">Join a community of more than 70,000 customers! Every Thursday I share 3 tips on</li>
            <li class="mb-2">Directly to your inbox.</li>
          </ul>
          <!-- First form -->
          <form class="mb-3 paragraph" role="search">
            <input type="search" class="form-control" placeholder="NAME" aria-label="Search">
          </form>

          <!-- Second form -->
          <form class="mb-3 paragraph" role="search">
            <input type="search" class="form-control" placeholder="EMAIL ID" aria-label="Search">
          </form>
          <button type="button" class="btn mb-3 ss sub" style="color: yellow;">SUBSCRIBE</button>
        </div>
      </div>
    </div>
  </section>


  <section style="background-color: white;">
    <div class="container">
      <footer class="py-3">
        <ul class="nav justify-content-center pb-3 mb-3" style="border-bottom: 1px solid black;">
          <li class="nav-item"><a href="#" class="nav-link px-2 underline philomene" style="color: #e80889">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 underline philomene" style="color: #e80889">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 underline philomene" style="color: #e80889">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 underline philomene" style="color: #e80889">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 underline philomene" style="color: #e80889">About</a></li>
        </ul>
        <p class="text-center underline philomene"  style="color: #e80889">© 2025 Company, Inc</p>
      </footer>
    </div>
  </section>
</body>


</html>